<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.wasm.rebateConfig.mapper.WasmRebateConfigMapper">

    <!--
    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694977, '返利配置', '3', '1', 'rebateConfig', 'rebate/rebateConfig/index', 1, 0, 'C', '0', '0', 'rebate:rebateConfig:list', '#', 'admin', sysdate(), '', null, '返利配置菜单');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694978, '返利配置查询', 1796740025965694977, '1',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:query',        '#', 'admin', sysdate(), '', null, '');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694979, '返利配置新增', 1796740025965694977, '2',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:add',          '#', 'admin', sysdate(), '', null, '');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694980, '返利配置修改', 1796740025965694977, '3',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:edit',         '#', 'admin', sysdate(), '', null, '');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694981, '返利配置删除', 1796740025965694977, '4',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:remove',       '#', 'admin', sysdate(), '', null, '');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694982, '返利配置导出', 1796740025965694977, '5',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:export',       '#', 'admin', sysdate(), '', null, '');

    insert into sys_menu (menu_id, menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark)
    values(1796740025965694983, '返利配置导入', 1796740025965694977, '6',  '#', '', 1, 0, 'F', '0', '0', 'rebate:rebateConfig:import',       '#', 'admin', sysdate(), '', null, '');
    -->


</mapper>
